@font-face {
  font-family: 'northwell';
  src: url('../fonts/northwell-alt.ttf') format('truetype');
}
* {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1.8;
  color: #3a3a3a;
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
}
.info {
  font-size: 20px;
  letter-spacing: 1;
}
@media only screen and (max-width: 768px) {
  .info {
    font-size: 18px;
  }
}
a:hover {
  text-decoration: none;
}
.rsvp {
  border: 2px solid;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  padding: 4px 32px 3px 32px;
  background: none;
  margin: 24px;
  text-decoration: none;
  color: #3a3a3a;
  display: inline-block;
  border-radius: 2px;
}
.rsvp:hover {
  color: #3a3a3a;
}
.home {
  background-image: url("img/home.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media only screen and (max-width: 768px) {
  .home {
    background-size: auto 100%;
  }
}
.story .emoji {
  width: 24px;
  margin-right: 8px;
  margin-top: 4px;
}
.wedding {
  background-image: url("img/wedding.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media only screen and (max-width: 768px) {
  .wedding {
    background-size: auto 100%;
  }
}
.wedding * {
  color: #ffffff;
}
.wedding .link {
  display: inline-block;
  margin: 16px;
}
.wedding .link a {
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2;
}
.wedding .link a:hover {
  color: white;
}
.wedding .rsvp:hover {
  color: white;
}
.details .event {
  letter-spacing: 1;
  margin-bottom: 12px;
  border-right: 1px solid #eaeaea;
}
.details .event:last-child {
  border-right: none;
}
.details .event img {
  margin-bottom: 16px;
  width: 96px;
}
@media only screen and (max-width: 1000px) {
  .details .event img {
    width: 64px;
  }
}
@media only screen and (max-width: 768px) {
  .details .event img {
    width: 56px;
    margin-bottom: 8px;
  }
}
.details .event .time {
  font-weight: 700;
  color: #999;
  margin-bottom: 0px;
}
@media only screen and (max-width: 768px) {
  .details .event .time {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .details .event .to-do {
    display: inline-block;
    font-size: 16px;
  }
}
.people {
  background: #2d3b82;
}
.people .small-title {
  color: white;
}
.people .item {
  margin-bottom: 16px;
}
.people .item img {
  width: 128px;
  border-radius: 100%;
}
@media only screen and (max-width: 1024px) {
  .people .item img {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .people .item img {
    display: none;
  }
}
.people .item .name {
  font-size: 16px;
  color: white;
}
@media only screen and (max-width: 768px) {
  .people .item .name {
    font-size: 18px;
    letter-spacing: 1;
  }
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-row {
  margin-bottom: 16px;
}
.big-title {
  font-family: 'northwell', 'Rochester', cursive;
  font-size: 108px;
  line-height: 1.5;
}
.small-title {
  font-family: 'northwell', 'Rochester', cursive;
  font-family: 'Maven Pro', sans-serif;
  font-size: 56px;
  line-height: 1.5;
  margin-top: 16px;
  letter-spacing: 3;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .small-title {
    font-size: 36px;
  }
}
.title-icon img {
  width: 32px;
  margin: auto 32px;
}
.display-control {
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  .display-control {
    display: block;
  }
  .title-row {
    margin-bottom: 24px;
  }
  .title-icon img {
    width: 20px;
  }
  .big-title {
    font-size: 72px;
  }
}
