@font-face {
    font-family: 'northwell';
    src: ~"url('../fonts/northwell-alt.ttf') format('truetype')";
}

@primary-dark: #3a3a3a;
@primary-white: #ffffff;

* {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.8;
    color: @primary-dark;
    @media only screen and (max-width: 768px) {
        font-size: 16px;
    }
}

.info {
    font-size: 20px;
    letter-spacing: 1;
    @media only screen and (max-width: 768px) {
        font-size: 18px;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.rsvp {
    border: 3px solid;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 8px 32px 7px 32px;
    background: none;
    margin: 24px;
    text-decoration: none;
    color: @primary-dark;
    display: inline-block;
    border-radius: 2px;
    &:hover {
        // text-decoration: none;
        color: @primary-dark;
    }
}

.home {
    background-image: url("img/home.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    @media only screen and (max-width: 768px) {
        background-size: auto 100%;
    }
}

.story {
    .emoji {
        width: 24px;
        margin-right: 8px;
        margin-top: 4px;
    }
}

.wedding {
    background-image: url("img/wedding.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;


    @media only screen and (max-width: 768px) {
        background-size: auto 100%;
    }
    * {
        color: @primary-white;
    }
    .link {
        display: inline-block;
        margin: 16px;
        a {
            font-family: 'Maven Pro', sans-serif;
            text-transform: uppercase; // letter-spacing: 1px;
            font-size: 16px;
            letter-spacing: 1;
        }
    }
    .rsvp {
        &:hover {
            color: white;
        }
    }
}

.details {

    .event {
        letter-spacing: 1;
        margin-bottom: 12px;
        border-right: 1px solid #eaeaea;
        &:last-child {
            border-right: none;
        }
        img {
            margin-bottom: 16px;
            width: 96px;
            @media only screen and (max-width: 1000px) {
                width: 64px;
            }
            @media only screen and (max-width: 768px) {
                width: 56px;
                margin-bottom: 8px;
            }
        }
        .time {
            font-weight: 700;
            color: #999;
            margin-bottom: 0px;
            @media only screen and (max-width: 768px) {
                display: inline-block;
                font-weight: 400;
                font-size: 16px;
            }
        }
        .to-do {
            text-transform: uppercase;

            @media only screen and (max-width: 768px) {
                display: inline-block;
                font-size: 16px;
            }
        }
    }
}

.people {
    @media only screen and (max-width: 768px) {
        // margin-left: 16px;
        // margin-right: 16px;
    }
    .item {
        margin-bottom: 16px;
        img {
            width: 128px;
            border-radius: 100%;
            @media only screen and (max-width: 1024px) {
                width: 100%;
            }
            @media only screen and (max-width: 576px) {
                display: none;
            }
        }


        .name {
            font-size: 16px;
        }
    }
}






.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-row {
    margin-bottom: 16px;
}

.big-title {
    font-family: 'northwell', 'Rochester', cursive;
    font-size: 108px;
    line-height: 1.5;
}

.small-title {
    font-family: 'northwell', 'Rochester', cursive;
    font-size: 72px;
    line-height: 1.5;
    margin-top: 16px;
}

.title-icon img {
    width: 32px;
    margin: auto 32px;
}




.display-control {
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    .display-control {
        display: block;
    }

    .title-row {
        margin-bottom: 24px;
    }

    .title-icon img {
        width: 20px;
    }

    .big-title {
        font-size: 72px;
    }
}