@font-face {
  font-family: 'northwell';
  src: url('../fonts/northwell-alt.ttf') format('truetype');
}
* {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1.8;
  color: #03144c;
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
}
.footer {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
  position: absolute;
  bottom: 24px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.footer img {
  height: 14px;
  text-align: center;
  margin-bottom: 2px;
}
.info {
  font-size: 20px;
  letter-spacing: 1;
}
@media only screen and (max-width: 768px) {
  .info {
    font-size: 18px;
  }
}
a:hover {
  text-decoration: none;
}
.rsvp {
  border: 2px solid;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  padding: 4px 32px 3px 32px;
  background: none;
  margin: 8px 24px;
  text-decoration: none;
  color: #03144c;
  display: inline-block;
  border-radius: 2px;
}
.rsvp:hover {
  color: #03144c;
}
.home {
  background-image: url("img/home.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.home .big-title {
  font-family: 'northwell', 'Rochester', cursive;
  font-size: 108px;
  line-height: 1.5;
  letter-spacing: 2;
}
@media only screen and (max-width: 700px) {
  .home .big-title {
    font-size: 64px;
  }
}
.home .title-icon {
  margin: auto 32px;
}
@media only screen and (max-width: 700px) {
  .home .title-icon {
    margin: auto 16px;
  }
}
.home .title-icon img {
  width: 32px;
}
@media only screen and (max-width: 700px) {
  .home .title-icon img {
    width: 16px;
  }
}
@media only screen and (max-width: 1024px) {
  .home {
    background-size: auto 100%;
  }
}
@media only screen and (max-width: 700px) {
  .home .title-row {
    margin-bottom: 24px;
  }
  .home .big-title {
    font-size: 64px;
  }
}
@media only screen and (max-width: 560px) {
  .home {
    background-image: url("img/home1.jpg");
    background-position: right;
  }
  .home .title-row {
    margin-top: -80px;
    margin-bottom: -8px;
  }
}
.story .emoji {
  width: 24px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
}
.link {
  display: inline-block;
  margin: 16px;
}
@media only screen and (max-width: 768px) {
  .link {
    margin: 8px 16px;
  }
}
.link a {
  padding: 2px 8px 1px 8px;
  font-weight: 500;
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2;
  color: #03144c;
  border-bottom: 3px solid;
}
.link a:hover {
  color: #03144c;
}
.wedding {
  background-image: url("img/wedding-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
@media only screen and (max-width: 1024px) {
  .wedding {
    background-size: auto 100%;
  }
}
.wedding * {
  color: #ffffff;
}
.wedding .link a {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}
.wedding .link a:hover {
  color: #03144c;
  background: white;
}
.wedding .rsvp:hover {
  color: white;
}
.details .event {
  letter-spacing: 1;
  margin-bottom: 12px;
  border-right: 1px solid #eaeaea;
}
.details .event:last-child {
  border-right: none;
}
@media only screen and (max-width: 576px) {
  .details .event {
    border-right: none;
  }
}
.details .event img {
  margin-bottom: 16px;
  width: 96px;
}
@media only screen and (max-width: 1000px) {
  .details .event img {
    width: 68px;
  }
}
@media only screen and (max-width: 768px) {
  .details .event img {
    margin-bottom: 8px;
  }
}
.details .event .time {
  font-weight: 700;
  margin-bottom: 0px;
}
@media only screen and (max-width: 768px) {
  .details .event .time {
    display: inline-block;
    font-weight: 400;
  }
}
.details .event .to-do {
  color: #ffb4b4;
}
@media only screen and (max-width: 768px) {
  .details .event .to-do {
    display: inline-block;
  }
}
.people {
  background: #fdf6f7;
}
.people .item {
  margin-bottom: 32px;
}
.people .item img {
  width: 160px;
  border-radius: 4px;
}
@media only screen and (max-width: 1024px) {
  .people .item img {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .people .item img {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .people .item {
    margin-bottom: 16px;
  }
}
.people .item .family-name {
  display: none;
}
@media only screen and (max-width: 576px) {
  .people .item .family-name {
    display: inline-block;
  }
}
.people .item .name {
  font-size: 16px;
  color: white;
  position: absolute;
  bottom: 12px;
  right: 24px;
  background: rgba(3, 20, 76, 0.8);
  padding: 0px 12px;
  letter-spacing: 1px;
  border-radius: 2px;
}
@media only screen and (max-width: 576px) {
  .people .item .name {
    font-size: 18px;
    padding: 0px 1px;
    letter-spacing: 1;
    position: relative;
    bottom: auto;
    right: auto;
    background: none;
    padding: auto;
    color: #03144c;
  }
}
.information .link a {
  border-bottom: 3px solid #ffb4b4;
}
.information .link a:hover {
  background: #ffb4b4;
  color: #ffffff;
}
.title-row {
  margin-bottom: 16px;
}
.small-title {
  font-family: 'Maven Pro', sans-serif;
  font-size: 56px;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 32px;
  letter-spacing: 5;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .small-title {
    font-size: 36px;
    margin-bottom: 8px;
  }
}
.xsmall-title {
  font-family: 'Maven Pro', sans-serif;
  font-size: 32px;
  line-height: 1.5;
  margin-top: 16px;
  letter-spacing: 2;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .xsmall-title {
    font-size: 24px;
  }
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #03144c;
}
.light-text {
  color: #ffb4b4;
}
.display-control {
  display: inline-block;
}
